
html
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}


.container-fluid{width: 100%;
padding: 0;}

.content-desktop {
display: inline;
}

.content-desktop-tablet {
display: inline;
}

.content-mobile {
display: none;
}


.content-tablet
{
	display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.button-contact
{
	background: #DBDBDB;
	border: 1px solid #000;
	font-weight:bold;
}

.parapente_img_cursos
{
	text-align:center;
	display: block;
}

.parapente_img_cursos img
{
    margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
}
.parapente_img
{
	text-align:center;
	display: block;
}

.parapente_img img
{
    margin: 0 auto;
	max-width: 100%;
}

.licencias_img
{
	text-align:center;
	display: block;
}

.licencias_img img
{
    margin: 0 auto;
}
/*
.navbar
{
	background: rgba(255,255,255,0.98);
}
*/
.navbar a
{
	color: #000 !important;
	
}
.navbar a:hover
{
	font-weight: bold;
	
}

.language{
	position: relative;
	float: right;
}

.header_row
{
	text-align: center;
	padding: 50px 0 25px 0;
}


.header_row h3
{
	display: none;
}


#carouselIndex, #carouselIndex_english
{
	top:  0px;
}

#carouselIndex .carousel-caption, #carouselIndex_english .carousel-caption 
{
	top: 75%;
	left: 0%; 
	right: 75%;
	text-shadow: none;
}

#carouselIndex .carousel-caption h2, #carouselIndex_english .carousel-caption h2
{	
	text-align:center;
	padding: 10px 10px 0px 10px;
	color: #000;
	background: rgba(255,255,255,0.8);
	text-shadow: none;
	font-weight: bold;	
	font-size: 150%;
	margin-bottom: 0px;
}

#carouselIndex .carousel-caption p, #carouselIndex_english .carousel-caption p
{	
	text-align:center;
	padding: -1px 10px 10px 10px;
	color: #000;
	background: rgba(255,255,255,0.8);
	text-shadow: none;
	margin-top: 0px;
	font-weight: bold;	
}


.somos
{
	margin-top: 15px;
	padding: 0 50px 0px 50px;
}

.somos h2
{
	font-weight: normal;
}

.vuelos
{
	padding: 0px;
}

.vuelos h1
{
	font-size: 20px;
}


.vuelos button
{
	display: none;
}

#accordion_vuelos
{
	padding: 0 65px 0 65px;
}

.vuelos_box
{
	padding: 5px 5px 0 5px;
	display: flex; 
}

.vuelos_box .card-vuelos:hover
{
	 background: #EAEAEA;
	 cursor: pointer;
	 transform: scale(1.1);
}

.card-vuelos
{
	 cursor: pointer;
	 border: #999 solid 1px;
	background: #EAEAEA;
}

.card-vuelos img
{
	padding: 10px;
	max-width: 100%;
	max-height: auto;
}

.card-vuelos header
{
	text-align: center;

}
.vuelos .collapsed button
{
	background: #60abf8;
	border: none;
	width: 100px;
	margin: 10px 0 15px 0;
	text-align: left;
	display: inline;
	
	 cursor: pointer;
}

.vuelos .collapsed
{
	background: #fff;
}


.vuelos_details
{
	text-align: justify;
	padding: 0 5px 5px 5px;
}
.vuelos_details li
{
	list-style-type: none;
}

.vuelos_details h1
{
	/*text-align: center;*/
	font-weight: normal;
	font-size: 25px;
}

.vuelos_details h4
{
	text-align: center;
}

.paquete-vuelos
{
	background: rgba(0,0,0,0.1);
}


.bring
{
	margin-top: 20px;
	cursor: pointer;
}

.buttons_row
{
	margin-top: 10px;
}

.buttons_row a 
{
	color: #000;
	font-weight:bold;
}

.buttons_row img
{
	margin: 0 auto;
	display: inline;
}
/*
.buttons_row button
{
	background: #333;
}*/

.social-button button
{
	margin: 0 auto;
	display: inline;
	
}

.social-button
{
	margin: 0;
	padding: 0;
	border: none;
	background: #fff;
	display: inline-block;
}

.fas-tel, .fas-mail
{
		font-size: 25px !important;
}

.down-icon
{
	width: 15px;
}

.mail_img
{ 
	cursor: pointer; 
}

.carousel-vuelos img
{
	width: 100%;
}

.carousel-vuelos
{
	margin-bottom: 45px;
}

.carousel-vuelos .carousel-indicators 
{
/*  bottom: 0;
  left: 0;*/
bottom: -75px;
  margin-left: 2px;
  width: 100%;
  
 }

.carousel-vuelos .carousel-indicators li 
{
border: medium none;
border-radius: 0;
float: left;
height: 54px;
margin-bottom: 5px;
margin-left: 0;
margin-right: 2px !important;
margin-top: 0;
width: 50px;
}

.carousel-vuelos .carousel-indicators img 
{
border: 2px solid #FFFFFF;
float: left;
/*height: 54px;*/
left: 0;
width: 50px;
}

.carousel-vuelos .carousel-indicators .active img
{
border: 2px solid #428BCA;
opacity: 0.7;
}

.carousel-vuelos .carousel-caption
{
	top: 85%;
	left: 0%; 
	text-shadow: none;
}

.carousel-vuelos .carousel-caption h2
{	
	text-align:center;
	padding: 2px 2px 2px 2px;
	color: #000;
	background: rgba(255,255,255,0.6);
	text-shadow: none;
	font-weight: bold;	
	font-size: 15px;
	margin-bottom: 0px;
}



/*
.header-prom-corp
{
	text-align: center;
	background: #000;
	color: #fff;
	margin: 50px 0 0 0;
	
}

.pedida_mano
{
	background: #000;
}

.pedida_mano p
{
	color: #fff;
	text-align: justify;
	padding: 0 15px 15px 15px;
	margin: 0 0 0 60px;
}

.prom-corp-col
{
	padding: 0 60px 60px 60px;
	width: 80%;
		margin: 0 auto;
}

.carousel-prom-copr img
{
	width: 100%;
}
*/
.header-pedida-mano
{
	text-align: center;
	background: #000;
	color: #fff;
	margin: 50px 0 0 0;
	
}

.pedida_mano
{
	background: #000;
	padding-top: 25px;
}

.pedida_mano p
{
	color: #fff;
	text-align: justify;
	padding: 0 15px 15px 15px;
	margin: 0 0 0 60px;
}

.pedida_mano li
{
	color: #fff;
	text-align: justify;
	padding: 0 15px 15px 15px;
	margin: 0 0 0 60px;
}

.pedida-mano-col
{
	padding: 0 60px 60px 60px;
	width: 80%;
		margin: 0 auto;
}

.carousel-prom-copr img
{
	width: 100%;
}

.carousel-prom-copr
{
	padding-top:15px;
}

.tours_row
{
	margin: 0 auto;
	padding: 0 50px 0 50px;
}

.tours_row ul
{
	font-weight: bold;
	font-size: 20px;
}

.options_tours
{
	font-weight: bold;
	font-size: 20px;
}

.tours_img h3
{
	font-size: 20px;
}

.tours_img header
{
	text-align: center;
	background: rgba(198,198,198,0.9);
	padding: 10px 0 10px 0;
	width: 300px;
	margin: 0 auto;
	position: relative;
	bottom: -20px;
}

.tours_img img
{
	width: 100%;
}

.tours li
{
	
	font-size: 15px;
	font-weight: normal;
}

.tours ul
{
	margin: 60px 0 0 0;
	list-style-type: none;
	cursor: pointer;
}

.tours li:hover
{
	transform:scale(1.05);
}

.tours_li_left
{
	text-align: right;
	padding-right: 20px;
}

.modal_tours
{
	max-width: 90%;
}

.card-tours button
{
	color: #000;
	font-weight: bold;
}

.tours_pax
{
	background: rgba(245,245,245,1);
	border-radius: 5px;
	border: #E2E2E2 solid 1px;
	margin-bottom:10px;
}

.tours_pax header
{
	text-align: center;
}

.tours_pax p
{
	text-align: center;
	font-weight: bold;
}

.tours_pax li
{
	list-style-type: none;
}

.daily-galapagos
{
	margin-top: 70px;
	
}

#accordionToursGalapagos img
{
	width: 80%;
	
}

.cursos
{
	padding: 0 50px 60px 50px;
	text-align: justify;
}

.cursos h4
{
	font-weight: normal;
}

.contactos
{
	background: #000;
	color: #D6D4CF;
	margin-top: 50px;
	padding: 20px 50px 0 50px;
}

.contactos i
{

	padding-bottom: 0px;
	padding-top: 0px;
}

.contactos a
{
	color: #D6D4CF;
}

.form
{
	border-left: #fff solid 2px;
	padding-left: 15px;
	padding-top: 15px;
}
.contact-button
{
	text-align: center;
}

.contact-button button
{
	border-left: #000 solid 2px;
	padding-left: 15px;
	background: #000;
	color: #D6D4CF;
	margin: 0 auto; display: inline-block;
}

.form input, .form textarea
{
	border-radius: 15px;
	background: #D6D4CF;
}

.fas-tel-contact
{
		font-size: 25px !important;
		padding-bottom: 0px;
		padding-top: 0px;
		margin: 0;
		color: #D6D4CF;
}

.copyright
{
	background: #000;
	color: #D6D4CF;
	text-align: center;
}

.captcha_wrapper
{
	text-align:center;
}

.g-recaptcha
{
	transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
display: inline-block;
}

@media only screen and (max-width: 1025px) {
	
	.container-fluid{
		margin-top: 50px;
	}
	.card-vuelos h1
	{
		font-size: 15px;
	}
	.content-desktop-tablet {
	display: none;
	}
	.content-tablet
	{
		display: inline;
	}
	#carouselIndex .carousel-caption, #carouselIndex_english .carousel-caption 
	{
		display: none;
	}
	
	.carousel-vuelos .carousel-caption
	{
		top: 75%;
		left: 0%; 
		text-shadow: none;
	}

	
}

@media only screen and (max-width: 768px) {
	
	.card-vuelos h1
	{
		font-size: 15px;
	}

	.vuelos button
	{
		width: 65px;
	}
	
	.carousel-vuelos .carousel-caption
	{
		top: 45%;
		left: 0%; 
		text-shadow: none;
		font-size: 15px;
	}	
	.carousel-vuelos .carousel-caption h2
	{
		font-size: 10px;
	}	
	#carouselCursosParapente .carousel-caption
	{
		top: 75%;
		left: 0%; 
		text-shadow: none;
	}


} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
	
	.content-desktop {
	display: none;
	}

	.content-mobile {
	display: inline;
	}
	
	.vuelos_details h1
	{
		font-size: 20px;
		padding-top: 15px;
		text-align: center;
	}

	.somos
	{
		margin-top: 10px;
		margin-bottom: 0px;
		padding: 0 10px 0px 25px;
		
	}

	.pedida_mano p
	{
		padding: 0 15px 15px 15px;
		margin: 0;
	}

	.prom-corp-col
	{
		padding: 0 0 60px 0;
		width: 95%;
			margin: 0 auto;
	}
	
	#accordion_vuelos_mobile
	{
		padding: 0 40px 0 40px;
	}

	.vuelos_details h2
	{
		margin-top: 50px;
	}
		
	.tours_row
	{
		padding: 0 10px 0 10px;
	}

} 






/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	
} 

/* Medium devices (landscape tablets, 768px and up) *//*
@media only screen and (min-width: 768px) {
	
	
} 
*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}