@font-face {font-family: ComicRelief; src: url(fonts/ComicRelief.ttf);}
@font-face {font-family: SF_Arch_Rival; src: url(fonts/SF_Arch_Rival.ttf);}
@font-face { font-family: AlexBrush; src: url(fonts/AlexBrush-Regular.ttf);}

a
{
	color: #000;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.body
{
	margin: 0 15px 0 15px;
}

body p
{
	text-align: justify;

}


.navbar
{
	background: rgba(255,255,255,0.98);
	padding: 0;
	margin: 0;
	color: #000;
}

.navbar a
{
	color: #000;
	
}
.navbar a:hover
{
	font-weight: bold;
	
}


.language{
	position: relative;
	float: right;
}

.container
{
	width: 90%;
	margin-top: 100px;
}
/*
.lang-switch {
	margin-right: 50px;
}
.lang-item {
  display:inline;
}

.blog_row
{
	margin: 25px 15px 10px 15px;
}

.meta
{
	color: #fff;
}

.navigation
{
	color: #fff;
}

.header
{
	letter-spacing: 0.55em;
	text-align: center;
	color: #fff;
}
*/


h2
{
	font-size: 40px;
	text-align: center;
	padding-bottom: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h3
{
	text-align: center;
	padding: 15px 0 15px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.sidebar
{
	background: rgba(224,224,224,0.7);
	border: 2px solid #000;
	margin: 50px 0 0 0;
}

.sidebar h4
{
	padding-top: 10px;
}

.blog_post
{
	background: rgba(224,224,224,0.7);
	border: 2px solid #000;
	margin: 50px 20px 35px 20px;
	padding: 0 15px 0 15px;
}
/*
.blog_post h3 a
{
	padding: 10px 10px 0 10px;
	color: #fff;
}
*/
.blog_post p
{
	padding: 0 10px 0 10px;
}


.post_single
{
	background: rgba(211,211,211,0.6);
	padding: 0 20px 0 20px;
	border-radius: 20px;
}

.post_single h2
{
	font-size: 25px;
	padding: 10px 0 0 0;
}

.post_single p
{
	padding: 0 10px 5px 10px;
}

.images img
{
	max-width: 100%;
    float: left;
	padding: 0 15px 15px 15px;
}


.video-container 
{ 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
}
.video-container iframe, .video-container object, .video-container embed, .video-container video 
{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	max-width: 100%; 
	height: 100%; 
	clear: both; 
	display: block; 
	float: left;
}

#respond
{
	padding: 0 0 10px 20px;
}

h4
{
	font-size: 25px;
}
/*
.footer
{background: #fff;
padding-top:10px;}



.copy_right
{
	text-align: center;
}
.copy_right a
{
	color: #000;
	font-weight: normal;
	font-size: 10px;
}

/*
@media (max-width:774px) 
{
	.navbar-inverse
	{
		margin-right: 0px;
	}
	.navbar-brand p
	{
		position: relative;
		float: left;
		top: -100px;
		left: 150px;
	}
	.nav
	{
		left: 0px;

	}
	
	.lang-switch {
		top: 0;
		right: 150px;
	}
	.menu_tel 
	{
		display:none !important;
	}
}

@media (max-width:320px)
{
	h2
	{
		font-size: 30px;
	}
	
	.social_icons 
	{
		bottom: 70px;
	}
	
} 
