html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
	background-image: url("images/background_black.jpg");
}

.container-fluid
{
	margin-top: 75px;
	color: #fff;
}

.container-fluid a
{
	color: #fff;
	text-decoration: none !important;
}
.container-fluid a:hover
{
	color: #fff;
}

.blog_post
{
	background: rgba(0,0,0,0.85);
	padding: 40px;
	text-align: justify;
	margin-bottom: 75px;
}


.blog_post img
{
	display: block;
margin: 0 auto;
}

h2
{
	font-size: 40px;
	text-align: center;
	padding-bottom: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h3
{
	text-align: center;
	padding: 15px 0 15px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.sidebar
{
	background: rgba(0,0,0,0.8);
}

.notfound
{
	background: rgba(0,0,0,0.8);
	padding: 20px;
}

#respond
{
	margin-left: 40px;
	margin-right: 40px;
}

#respond textarea{
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

#respond input[type=text], select{
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.copy_right p
{
	color: #fff;
	text-align: center;
}

.copy_right a
{
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.copy_right a:hover
{
	color: #fff;
	text-decoration: none;
}


@media only screen and (max-width: 768px) {
	
	#respond input[type=text], select, textarea{
	  width: 100%;
	}


}